

.container {
	margin: 50px auto;
	max-width: 600px;
	padding: 0 20px;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.btn {
	background-color: #007bff;
	border: none;
	color: #fff;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	padding: 10px;
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
}

p {
	font-size: 24px;
	margin-bottom: 20px;
}

